.git
.gitignore
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
specs
.specify
.gemini
.env
.env.*
compose.yaml
database/database.sqlite
