/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/*.key
/storage/pail

# Public & Builds
/public/storage
/public/hot
/public/build

# Environment & Config
.env
.env.backup
.env.production
.env.local
auth.json
.phpactor.json

# Testing & Tools
.phpunit.result.cache
/*.sqlite
/*.sqlite-journal
Homestead.yaml
Homestead.json
/.vagrant

# OS & Editors
.DS_Store
Thumbs.db
/.idea
/.vscode